.find-room {
  width: 380px;
  padding: 40px 30px 30px;
  box-sizing: border-box;
  // Временно
  background-color: white;

  &__title {
    font-family: Montserrat-Bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 24px;
  }

  &__input {
    padding-bottom: 6px;
  }

  &__guests-container {
    padding-bottom: 31px;
  }
  &__guests-title {
    padding-bottom: 5px;
  }
}

.date-dropdown__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
