.checkbox {
  display: flex;
  align-items: top;
  cursor: pointer;

  &:hover .checkbox__box {
    border-color: $purple;
  }

  &__input {
    display: none;

    &:checked + .checkbox__box .checkbox__mark {
      display: inline-block;
    }

    &:checked + .checkbox__box {
      border-color: $purple;
    }
  }

  &__box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
  }

  &__mark {
    display: none;
    position: absolute;
    width: 6px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    top: 50%;
    left: 30%;
    transform: rotate(45deg) translate(-50%, -50%);

    &:after {
      content: "";
      position: absolute;
      background-color: #fff;
      top: -1px;
      left: -1px;
      width: 5px;
      height: 7px;
    }
  }
}
