mixin checkbox-btn(options)
  label.checkbox-line
    label.checkbox
      input.checkbox__input(
        type='checkbox'
      )
      .checkbox__box
        .checkbox__mark
      span.checkbox-text= options.text || 'checkbox text'