mixin checkbox-btn(options)
  label.checkbox-line
    label.checkbox
      input.checkbox__input(
        type='checkbox'
      )
      span.checkbox__box
      span.checkbox-text= options.text || 'checkbox text'