include ./checkbox-item
.cont
  span.title.text-style-litle CHECKBOX BUTTONS
  +checkbox-btn({text: 'Можно курить'})
  +checkbox-btn({text: 'Можно с питомцами'})
  +checkbox-btn({text: 'Можно пригласить гостей (до 10 человек)'})