include ./checkbox-item
.checkbox-buttons__container
  p.title.text-style-litle ПРАВИЛА ДОМА
  +checkbox-btn({text: 'Можно курить'})
  +checkbox-btn({text: 'Можно с питомцами'})
  +checkbox-btn({text: 'Можно пригласить гостей (до 10 человек)'})