.range-slider
  .range-slider__text
    span.range-slider__title.text-style-litle ДИАПАЗОН ЦЕНЫ
    .range-slider__text-price
      span.range-slider__text-price-from
      span  - 
      span.range-slider__text-price-to
  input.range-slider__input(
    type="text" 
    name="my_range" 
    value=""
    )