.filter-date-dropdown
  .filter-date-dropdown__btn.filter-date-dropdown-mask(
    type='text'
  )
    //- Дата берется из календаря, который будет потом прописан.
    span.filter-date-dropdown__placeholder 19 авг - 23 авг
    span.filter-date-dropdown__expand-symbol expand_more