doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    header.header-page
      include ../../blocks/header-footer/header.pug
    main.search-room-page__main
      .container
        .search-room-page__sections
          .search-room-page__filters
            p.search-room-page__dates.text-style-litle ДАТЫ ПРЕБЫВАНИЯ В ОТЕЛЕ
            include  ../../blocks/form-elements/filter-date-dropdown/filter-date-dropdown
            p.search-room-page__guests.text-style-litle ГОСТИ
            include ../../blocks/form-elements/dropdown/dropdown
            .search-room-page__range-slider
              include ../../blocks/form-elements/range-slider/range-slider
              span.search-room-page__range-slider-caption Стоимость за сутки пребывания в номере
            .search-room-page__rules
              include ../../blocks/form-elements/checkbox-buttons/checkbox-buttons
            .search-room-page__accessibility
              include ../../blocks/form-elements/accessibility-checkbox/accessibility-checkbox
            p.search-room-page__comfort.text-style-litle УДОБСТВА НОМЕРА
              include ../../blocks/form-elements/dropdown-room/dropdown-room
              +dropdown-room(true)
            .search-room-page__add-comfort

            include ../../blocks/form-elements/expand-checkbox-list/expand-checkbox-list

          include ../../blocks/form-elements/room-slider/room-slider
          .search-room-page__rooms
            .search-room-page__rooms-title.text-style-big Номера, которые мы для вас подобрали
            ul.search-room-page__rooms-list
              li
                +room-slider({'img-src1': './assets/images/room1.jpg', 'img-src2': './assets/images/room2.jpg', 'img-src3': './assets/images/room3.jpg', 'img-src4': './assets/images/room4.jpg', link: 'room-describe.html','room-num': 888, lux: ' ЛЮКС', money: '9 990₽ ', 'comments-num': 145 })
              li
                +room-slider({'img-src1': './assets/images/room2.jpg', 'img-src2': './assets/images/room3.jpg', 'img-src3': './assets/images/room4.jpg', 'img-src4': './assets/images/room5.jpg', link: 'room-describe.html','room-num': 840, money: '9 900₽ ', star5: 'star_border', 'comments-num': 65 })
              li
                +room-slider({'img-src1': './assets/images/room3.jpg', 'img-src2': './assets/images/room4.jpg', 'img-src3': './assets/images/room5.jpg', 'img-src4': './assets/images/room6.jpg', link: 'room-describe.html','room-num': 980, lux: ' ЛЮКС', money: '8 500 ', star4: 'star_border', star5: 'star_border', 'comments-num': 35 })
              li
                +room-slider({'img-src1': './assets/images/room4.jpg', 'img-src2': './assets/images/room5.jpg', 'img-src3': './assets/images/room6.jpg', 'img-src4': './assets/images/room7.jpg', link: 'room-describe.html','room-num': 856, money: '7 300 ', 'comments-num': 19 })
              li
                +room-slider({'img-src1': './assets/images/room5.jpg', 'img-src2': './assets/images/room6.jpg', 'img-src3': './assets/images/room7.jpg', 'img-src4': './assets/images/room8.jpg', link: 'room-describe.html','room-num': 740, money: '6 000 ', star5: 'star_border', 'comments-num': 44 })
              li
                +room-slider({'img-src1': './assets/images/room6.jpg', 'img-src2': './assets/images/room7.jpg', 'img-src3': './assets/images/room8.jpg', 'img-src4': './assets/images/room9.jpg', link: 'room-describe.html','room-num': 982, money: '5 800 ', star4: 'star_border', star5: 'star_border', 'comments-num': 56 })
              li
                +room-slider({'img-src1': './assets/images/room7.jpg', 'img-src2': './assets/images/room8.jpg', 'img-src3': './assets/images/room9.jpg', 'img-src4': './assets/images/room10.jpg', link: 'room-describe.html','room-num': 678, money: '5 500 ', 'comments-num': 45 })
              li
                +room-slider({'img-src1': './assets/images/room8.jpg', 'img-src2': './assets/images/room9.jpg', 'img-src3': './assets/images/room10.jpg', 'img-src4': './assets/images/room11.jpg', link: 'room-describe.html','room-num': 450, money: '5 300 ', star5: 'star_border', 'comments-num': 39 })
              li
                +room-slider({'img-src1': './assets/images/room9.jpg', 'img-src2': './assets/images/room10.jpg', 'img-src3': './assets/images/room11.jpg', 'img-src4': './assets/images/room12.svg', link: 'room-describe.html','room-num': 350, money: '5 000 ', star4: 'star_border', star5: 'star_border', 'comments-num': 77 })
              li
                +room-slider({'img-src1': './assets/images/room10.jpg', 'img-src2': './assets/images/room11.jpg', 'img-src3': './assets/images/room12.svg', 'img-src4': './assets/images/room1.jpg', link: 'room-describe.html','room-num': 666, money: '5 000 ', 'comments-num': 25 })
              li
                +room-slider({'img-src1': './assets/images/room11.jpg', 'img-src2': './assets/images/room12.svg', 'img-src3': './assets/images/room1.jpg', 'img-src4': './assets/images/room2.jpg', link: 'room-describe.html','room-num': 444, money: '5 000 ', star4: 'star_border', star5: 'star_border', 'comments-num': 15 })
              li
                +room-slider({'img-src1': './assets/images/room12.svg', 'img-src2': './assets/images/room1.jpg', 'img-src3': './assets/images/room2.jpg', 'img-src4': './assets/images/room3.jpg', link: 'room-describe.html','room-num': 352, money: '5 000 ', star4: 'star_border', star5: 'star_border', 'comments-num': 55 })
            .search-room-page__paginator
              include ../../blocks/form-elements/paginator/paginator

        .search-room-page__filter-btn.text-style-big list

    footer
      include ../../blocks/header-footer/footer