include ./accessibility-checkbox-mixin
.accessibility-checkbox
  .accessibility-checkbox__title.text-style-litle ДОСТУПНОСТЬ
  +accessibility-checkbox-mixin({text: 'Широкий коридор', caption: 'Ширина коридоров в номере <br> не менее 91 см.'})
  +accessibility-checkbox-mixin({text: 'Помощник для инвалидов', caption: 'На 1 этаже вас встретит специалист  и проводит до номера.'})