.find-room {
  &__title {
    padding-bottom: 24px;
  }

  &__input {
    padding-bottom: 6px;
  }

  &__guests-container {
    padding-bottom: 31px;
  }

  &__guests-title {
    padding-bottom: 5px;
  }
}

.date-dropdown {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__column:first-child {
    padding-right: 10px;
  }
}
