.room-slider
  .slider.slider1
    .slider__wrapper
      .slider__items
        .slider__item
          img.img-fluid(src="./assets/images/room1.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room2.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room3.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room4.svg")
    a.slider__control.slider__control_prev(href="#" role="button")
    a.slider__control.slider__control_next(href="#" role="button")
  .room-slider__description
    .room-slider__description-section
      .room-slider__description-title № 888 ЛЮКС
      .room-slider__description-price
    .room-slider__description-section
      .room-slider__rate
      .room-slider__comments-num
.room-slider
  .slider.slider2
    .slider__wrapper
      .slider__items
        .slider__item
          img.img-fluid(src="./assets/images/room1.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room2.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room3.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room4.svg")
    a.slider__control.slider__control_prev(href="#" role="button")
    a.slider__control.slider__control_next(href="#" role="button")
  .room-slider__description
    .room-slider__description-section
      .room-slider__description-title № 888 ЛЮКС
      .room-slider__description-price
    .room-slider__description-section
      .room-slider__rate
      .room-slider__comments-num