.room-slider
  .slider
    .slider__wrapper
      .slider__items
        .slider__item
          img.img-fluid(src="./assets/images/room1.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room2.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room3.svg")
        .slider__item
          img.img-fluid(src="./assets/images/room4.svg")
    a.slider__control.slider__control_prev(href="#" role="button")
    a.slider__control.slider__control_next(href="#" role="button")
  .room-slider__description
    .room-slider__description-section
      .room-slider__description-title № 
        span.room-slider__description-num 888 
        span.room-slider__description-lux.text-style-litle ЛЮКС
      .room-slider__description-price
        span.room-slider__description-money 9 990₽ 
        span.room-slider__description-day в сутки
    .room-slider__description-section
      .room-slider__rate 
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
      .room-slider__comments
        span.room-slider__comments-num 145 
        span.room-slider__comments-text Отзывов
