.room-slider
  .slider
    ul.slider__items(data-index="0")
      li.slider__item.slider__item_showing
        img.slider__img(src="./assets/images/room1.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room2.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room3.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room4.svg")
    .slider__control.slider__control_prev 
    .slider__control.slider__control_next
    ul.slider__indicator
      li.slider__indicator-item
      li.slider__indicator-item
      li.slider__indicator-item
      li.slider__indicator-item
  .room-slider__description
    .room-slider__description-section
      .room-slider__description-title № 
        span.room-slider__description-num 888 
        span.room-slider__description-lux.text-style-litle ЛЮКС
      .room-slider__description-price
        span.room-slider__description-money 9 990₽ 
        span.room-slider__description-day в сутки
    .room-slider__description-section
      .room-slider__rate 
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
      .room-slider__comments
        span.room-slider__comments-num 145 
        span.room-slider__comments-text Отзывов 
.room-slider
  .slider
    ul.slider__items(data-index="0")
      li.slider__item.slider__item_showing
        img.slider__img(src="./assets/images/room1.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room2.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room3.svg")
      li.slider__item
        img.slider__img(src="./assets/images/room4.svg")
    .slider__control.slider__control_prev 
    .slider__control.slider__control_next
    ul.slider__indicator
      li.slider__indicator-item
      li.slider__indicator-item
      li.slider__indicator-item
      li.slider__indicator-item
  .room-slider__description
    .room-slider__description-section
      .room-slider__description-title № 
        span.room-slider__description-num 888 
        span.room-slider__description-lux.text-style-litle ЛЮКС
      .room-slider__description-price
        span.room-slider__description-money 9 990₽ 
        span.room-slider__description-day в сутки
    .room-slider__description-section
      .room-slider__rate 
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
        span.room-slider__rate-star star
      .room-slider__comments
        span.room-slider__comments-num 145 
        span.room-slider__comments-text Отзывов 