.room-slider {
  box-shadow: 0px 10px 20px $darkShade5;
  // Временно
  // margin: 30px;
  // max-width: 270px;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  position: relative;
  // border: 1px solid yellowgreen;

  &__description {
    padding: 13px 20px 10px;

    &-section {
      padding: 8px 0 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-section:first-child {
      border-bottom: 1px solid $darkShade10;
    }

    &-title {
      color: $darkShade100;
      font-weight: bold;
    }

    &-num {
      font-weight: bold;
      font-size: 19px;
    }

    &-lux {
      color: $purple;
      font-size: 12px;
    }

    &-money {
      font-weight: bold;
      color: $darkShade50;
    }

    &-day {
      color: $darkShade50;
      font-size: 12px;
    }
  }

  &__comments {
    &-num {
      font-weight: bold;
      color: $darkShade50;
    }
    &-text {
      color: $darkShade50;
    }
  }

  &__rate {
    display: inline-flex;
    user-select: none;

    &-star {
      font-family: "Material Icons";
      font-size: 24px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      background-clip: text;
      -webkit-background-clip: text; /* Обрезаем фон по тексту */
      -webkit-text-fill-color: transparent; /* Прозрачный текст */
    }
  }
}

/* стили основного контейнера слайдера */
.slider {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px 4px 0 0;

  &:hover > .slider__control_prev,
  &:hover > .slider__control_next {
    opacity: 1;
  }
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 42px;
  color: #fff;
  text-align: center;
  height: 100%;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
}

.slider__control_prev {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 99.99%
  );
  opacity: 0;
  // transition: 0.1s;
}

.slider__control_next {
  right: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 99.99%
  );
  opacity: 0;
  // transition: 0.1s;
}

.slider__control_prev::before {
  content: "expand_more";
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 24px;
  transform: rotate(90deg);
}

.slider__control_next::before {
  content: "expand_more";
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 24px;
  transform: rotate(270deg);
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  top: 127px;
  right: 15px;
  z-index: 15;
  display: flex;
  list-style: none;
}

.slider__indicators li {
  box-sizing: content-box;
  margin-left: 4px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 50%;
}

.slider__indicators li.active {
  background-color: white;
}

.img-fluid {
  // display: block;
  // height: auto;
  // max-width: 100%;
  width: 100%;
  height: 151px;
  object-fit: cover;
  display: flex;
  align-items: center;
}
