doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    //- Разобраться с подключением 
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")


  body
    include ../blocks/form-elements/logo-main-page-link/main-page-link.pug
    include ../blocks/form-elements/text-field/text-field
    include ../blocks/form-elements/masked-text-field/masked-text-field
    include ../blocks/form-elements/checkbox-buttons/checkbox-buttons
    include ../blocks/form-elements/checkbox-buttons/checkbox-item
    include ../blocks/form-elements/radio-buttons/radio-buttons
    include ../blocks/form-elements/radio-buttons/radio-button
    include ../blocks/form-elements/toggle/toggle
    include ../blocks/form-elements/like-button/like-button
    include ../blocks/form-elements/rate-button/rate-button-mixin
    include ../blocks/form-elements/rate-button/rate-button
    include ../blocks/form-elements/dropdown/dropdown
    include ../blocks/form-elements/date-dropdown/date-dropdown
    include ../blocks/form-elements/filter-date-dropdown/filter-date-dropdown
    include ../blocks/form-elements/subscription-field/subscription-field
    include ../blocks/form-elements/dropdown-room/dropdown-room
    include ../blocks/form-elements/range-slider/range-slider
    include ../blocks/form-elements/expand-checkbox-list/expand-checkbox-list
    include ../blocks/form-elements/accessibility-checkbox/accessibility-checkbox
    include ../blocks/form-elements/accessibility-checkbox/accessibility-checkbox-mixin
    include ../blocks/form-elements/btns/btn-gradient
    include ../blocks/form-elements/btns/btn-gradient_wide
    include ../blocks/cards/find-room/find-room
    include ../blocks/cards/registration/registration
    include ../blocks/form-elements/btns/btn-gradient-border
    include ../blocks/form-elements/paginator/paginator
    include ../blocks/form-elements/bullet-list/bullet-list
    include ../blocks/form-elements/room-info/room-info
    include ../blocks/form-elements/comment/comment
    include ../blocks/form-elements/room-slider/room-slider
    include ../blocks/cards/room-description/room-description
    include ../blocks/cards/login/login
    
    //- header.header-page
    //-   include ../blocks/header-footer/header.pug
    //- main.index-page__main
    //-   .container
    //-     .index-page__find-room
    //-       include ../blocks/cards/find-room/find-room.pug
    //-     .index-page__subtitle
    //-       p.index-page__subtitle-text Лучшие номера для вашей работы, отдыха и просто вдохновения
    //- footer
    //-   include ../blocks/header-footer/footer.pug