.index-page__main {
  background-image: url(./assets/images/main-page.jpg);
  background-size: cover;
  // width: 100%;
  height: 830px;
  padding: 70px 0 18px;
  position: relative;
  box-sizing: border-box;
}

.index-page__subtitle {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 260px;
  text-align: right;
}

@media (max-width: 1024px) {
  .index-page__main {
    padding: 6.8% 0 18px;
    height: 630px;
  }
}

@media (max-width: 600px) {
  .container.container_index-pag {
    padding: 0;
  }

  .index-page__find-room {
    max-width: 380px;
    margin: 0 auto;
  }
}
