.search-room-page {
  &__main {
    display: block;
    padding: 30px 0 70px;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid $darkShade25;
  }

  &__sections {
    display: flex;
    width: 100%;
  }

  &__filters {
    display: block;
    box-sizing: border-box;
    width: 325px;
    padding: 0 60px 0 0;
    box-sizing: border-box;
    background-color: white;
  }

  &__dates {
    padding-bottom: 5px;
  }

  &__guests {
    padding: 20px 0 5px;
  }

  &__range-slider {
    padding: 30px 0;

    &-caption {
      display: inline-block;
      padding-top: 11px;
      font-size: 12px;
      line-height: 12px;
      color: $darkShade50;
    }
  }

  &__rules {
    width: 222px;
    padding-bottom: 31px;
  }

  &__accessibility {
    padding-bottom: 30px;
  }

  &__comfort {
    padding-bottom: 5px;
  }

  &__add-comfort {
    padding-top: 25px;
  }

  &__rooms {
    flex: 1;
  }

  &__rooms-title {
    margin-bottom: 20px;
  }

  &__rooms-list {
    display: grid;
    row-gap: 20px;
    column-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  &__paginator {
    margin: 40px auto 0;
    width: max-content;
  }

  &__filter-btn {
    display: none;
  }
}

@media (max-width: 638px) {
  .search-room-page__filters {
    display: none;
  }

  .search-room-page__filters_visible {
    position: fixed;
    display: block;
    z-index: 20;
    box-shadow: -20px 0px white, 0px -35px white, -20px -20px white,
      0px 0px 25px rgba(0, 0, 0, 0.2);
    overflow: auto;
    height: calc(100% - 100px);
  }

  .search-room-page__rooms.lock {
    height: 100%;
    overflow: hidden;
  }

  .search-room-page__filter-btn {
    font-family: "Material Icons";
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    bottom: 20%;
    left: 0;
    width: 33px;
    height: 36px;
    border-radius: 0 15px 15px 0;
    background-color: $green;
    color: white;
    position: fixed;
    z-index: 25;
    font-size: 27px;
    cursor: pointer;
  }
}

@media (max-width: 360px) {
  .search-room-page__filters {
    width: 290px;
    padding: 0 20px 0 0;
  }

  .search-room-page__rooms-list {
    margin: 0;
  }
}
