mixin expand-checkbox-list(options) 
  .expand-checkbox-list
    .expand-checkbox-list__btn
      span.text-style-litle= options.title || 'ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА'
      span.expand-checkbox-list__expand-symbol(class= options['class-expand-symbol'] || '') expand_more
    .expand-checkbox-list__content(class= options.class || '')
      +checkbox-btn({text: 'Завтрак', checked: options['checked-breakfast'] || false})
      +checkbox-btn({text: 'Письменный стол', checked: options['checked-desk'] || false})
      +checkbox-btn({text: 'Стул для кормления', checked: options['checked-highchair'] || false})
      +checkbox-btn({text: 'Кроватка', checked: options['checked-crib'] || false})
      +checkbox-btn({text: 'Телевизор', checked: options['checked-tv'] || false})
      +checkbox-btn({text: 'Шампунь', checked: options['checked-shampoo'] || false})
