.expand-checkbox-list
  .expand-checkbox-list__btn
    span.text-style-litle ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА
    span.expand-checkbox-list__expand-symbol expand_more
  .expand-checkbox-list__content
    +checkbox-btn({text: 'Завтрак'})
    +checkbox-btn({text: 'Письменный стол'})
    +checkbox-btn({text: 'Стул для кормления'})
    +checkbox-btn({text: 'Кроватка'})
    +checkbox-btn({text: 'Телевизор'})
    +checkbox-btn({text: 'Шампунь'})
