ul.room-info
  li.room-info__item
    .room-info__elem
      span.room-info__elem-icon insert_emoticon
      .room-info__elem-text
        p.room-info__elem-title Комфорт
        p Шумопоглощающие стены
  li.room-info__item
    .room-info__elem
      span.room-info__elem-icon location_city
      .room-info__elem-text
        p.room-info__elem-title Удобство
        p Окно в каждой из спален
  li.room-info__item
    .room-info__elem
      span.room-info__elem-icon whatshot
      .room-info__elem-text
        p.room-info__elem-title Уют
        p Номер оснащён камином
