.paginator
  ul.paginator__list
    li.paginator__list-item
      span.paginator__page.paginator__page_active 1
    li.paginator__list-item
      span.paginator__page 2
    li.paginator__list-item
      span.paginator__page 3
    li.paginator__list-item
      span.paginator__page …
    li.paginator__list-item
      span.paginator__page 15
    li.paginator__list-item
      span.paginator__page.paginator__page_arrow arrow_forward
  p.paginator__caption 1 – 12 из 100+ вариантов аренды