include ../../form-elements/text-field/text-field.pug

.registration.card-container
  p.registration__title.text-style-big Регистрация аккаунта
  .registration__name-form
    +text-field({placeholder: 'Имя'})
  .registration__name-form
    +text-field({placeholder: 'Фамилия'})
  .registration__sex
    include ../../form-elements/radio-buttons/radio-buttons.pug
  .registration__birth-date
    p.registration__subtitle.text-style-litle ДАТА РОЖДЕНИЯ
    //- include ../../form-elements/masked-text-field/masked-text-field.pug
    .date-dropdown
      input.date-dropdown__input.date-dropdown-mask.date-dropdown_registration(
        type='text'
        class="datepicker-here"
        data-range="false"
        data-min-date='false'
      )
  p.registration__subtitle.text-style-litle ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
  .registration__name-form
    +text-field({placeholder: 'Email'})
  .registration__name-form
    +text-field({placeholder: 'Пароль'})
  .registration__special-offer-toggle
    include ../../form-elements/toggle/toggle.pug
  .registration__pay-btn
    a(href='#').btn-gradient.btn-gradient_wide
      span.btn-gradient__text.text-style-litle перейти к оплате
  .registration__login
    span Уже есть аккаунт на Toxin
    a(href='#').btn-gradient-border
      .btn-gradient-border__inner
        span.btn-gradient-border__text.text-style-litle ВОЙТИ
